header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 4;
}
	/* Строка оголошень */
	.announcement-bar {
		align-items: center;
		background-color: #222;
		cursor: pointer;
		display: flex;
		height: 74px;
		justify-content: center;
	}
		.announcement-bar-container {
			align-items: center;
			color: #ffffff;
			display: flex;
			justify-content: center;
			height: 34px;
		}
			.announcement-bar-item-one{
				background-color: #eb5757;
				border-radius: 20px;
				font-size: 16px;
				margin: 12px;
				padding: 7px 24px;
			}
			.announcement-bar-item-two {
				font-size: 18px;
			}
	/* Основна навігаційна панель */
	.header {
		align-items: center;
		background-color: #eb5757;
		display: flex;
		height: 74px;
		justify-content: center;
	}
		.navigation-bar {
			align-items: center;
			display: grid;
			grid-template-columns: 30% 70%;
			height: 34px;
			width: 100%;
		}
			.navbar-logo {
				cursor: pointer;
				justify-self: flex-end;
				margin-right: 130px;
			}
			.navbar-items {
				align-items: center;
				color: #ffffff;
				display: flex;
				font-size: 16px;
				height: 34px;
				justify-content: flex-end;
				margin-right: 215px;
			}
				.navbar-item {
					border-radius: 5px;
					cursor: pointer;
					margin-left: 20px;
					margin-right: 20px;
					padding: 4px 10px;
					transition: 0.3s;
				}
					.navbar-item:hover {
						background-color: #222;
					}
				.navbar-shopping-cart {
					background-color: #222;
					height: 18px;
					border-radius: 5px;
					cursor: pointer;
					margin-left: 20px;
					margin-right: 20px;
					padding: 5px 12px;
					position: relative;
				}
					.shopping-cart-items {
						position: absolute; 
						align-items: center;
						background-color: #fff;
						border-radius: 50%;
						box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
						color: #333; 
						cursor: pointer;
						display: flex;
						font-size: 12px;
						font-weight: bold;
						height: 20px;
						justify-content: center; 
						top: 90px;
						right: 225px;
						width: 20px;
					}